  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 60%;
    
  }
  body {
    font-family: "Frank Ruhl Libre", serif;
    animation: opening 1s ease-in-out forwards;
  }
  h1 {
    font-size: var(--header1);
    font-family: "Teko", sans-serif;
  }
  li,
  button,
  label,
  input,
  p,
  a {
    font-size: var(--text);
  }
  h2 {
    font-size: var(--header2);
  }
  h3 {
    font-size: var(--header3);
  }
  h4,
  h5 {
    font-size: var(--header4);
  }